#aboutTextBox {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1vm;
}
.detail div {
  font-size: 18px;
  padding: 5%;
  padding-bottom: 0;
  line-height: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
strong {
  color: black;
}
