@import "reset.css";
body {
  overflow-x: hidden;
  overflow-y: auto;
}

#wrap {
  display: flex;
  height: 100%;
}
.sideArea {
  width: 20%;
  background-color: #f2f3f7;
}
.mainArea {
  width: 80%;
}
@media all and (max-width: 1024px) {
  #wrap {
    display: flex;
    height: 100%;
  }
  .sideArea {
    width: 30%;

    background-color: #f2f3f7;
  }
  .mainArea {
    width: 70%;
  }
}
@media all and (max-width: 767px) {
  .sideArea {
    width: 100%;
    height: 500px;
    background-color: #f2f3f7;
    display: none;
  }
  .mainArea {
    width: 100%;
  }
}
